.speech{
    font-family:'Courier New', Courier, monospace;
    color: black;
}
.direction{
    
    font-family: Georgia, 'Times New Roman', Times, serif;font-size: medium;
}
.direction:hover{
    background-color:lightblue;
    color: black;
}
.RAGNAR{
    color: red;
}
.KNUTBROVIK
{
    color:deeppink;
}
.KAIA{
    color:orange;
}
.BROVIK
{
    color:blue;
}
table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 70px;
  }
table,tr {
    border: solid 3px;
    border-collapse: collapse;    
    width: 50%;}
    tr{
        border: solid;
        text-align: center;
        padding: 8px;
        margin: auto;
    }
    
td{border: solid 1px ;
        text-align: center;
        padding: 8px;
        margin: auto;
    color:brown;}
tr:nth-child(even)
{background-color:aquamarine;}