.speech{
    font-family: 'Times New Roman', Times, serif;color: black;
}
.direction{
    
    font-family: Georgia, 'Times New Roman', Times, serif;font-size: medium;
}
.direction  .direction:hover{
    background-color: bisque;
    color: black;
}
.name{
    color: coral;
}
